In [5]:
from pydantic import BaseModel, Field
import datetime as dt
from typing import Optional
import pandas as pd

class TickersModel(BaseModel):
    ticker: str = Field(default=..., max_length=5)
    date_from: dt.date
    date_to: Optional[dt.date] = Field(default=dt.datetime.now().date())
    
    
class StockDataModel(BaseModel):
    ticker: str = Field(default=..., max_length=5)
    date: float
    open: float
    close: float
    high: float
    low: float
    dividend : float
    stock_splits : float

In [6]:
import yfinance as yf
import pandas as pd


def get_stock_data_from_api(
    ticker_data_to_get: TickersModel
) -> pd.DataFrame:
    """All stock data is retrieved from Yahoo Finance API  with a 1 d interval"""
    stock_data = yf.Ticker(ticker_data_to_get.ticker)
    history = stock_data.history(period="1d", start=ticker_data_to_get.date_from, end=ticker_data_to_get.date_to)
    return history

In [7]:
data = get_stock_data_from_api(TickersModel(ticker="AAPL", date_from = dt.datetime(2021, 1, 1)))



data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
      <th>Dividends</th>
      <th>Stock Splits</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2021-01-04 00:00:00-05:00</th>
      <td>130.858134</td>
      <td>130.946336</td>
      <td>124.232900</td>
      <td>126.830070</td>
      <td>143301900</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2021-01-05 00:00:00-05:00</th>
      <td>126.320447</td>
      <td>129.113636</td>
      <td>125.869611</td>
      <td>128.398178</td>
      <td>97664900</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2021-01-06 00:00:00-05:00</th>
      <td>125.173762</td>
      <td>128.437377</td>
      <td>123.860473</td>
      <td>124.076088</td>
      <td>155088000</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2021-01-07 00:00:00-05:00</th>
      <td>125.801021</td>
      <td>129.005834</td>
      <td>125.310989</td>
      <td>128.309982</td>
      <td>109578200</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2021-01-08 00:00:00-05:00</th>
      <td>129.789849</td>
      <td>129.985874</td>
      <td>127.633711</td>
      <td>129.417435</td>
      <td>105158200</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-01-04 00:00:00-05:00,130.858134,130.946336,124.232900,126.830070,143301900,0.0,0.0
2021-01-05 00:00:00-05:00,126.320447,129.113636,125.869611,128.398178,97664900,0.0,0.0
2021-01-06 00:00:00-05:00,125.173762,128.437377,123.860473,124.076088,155088000,0.0,0.0
2021-01-07 00:00:00-05:00,125.801021,129.005834,125.310989,128.309982,109578200,0.0,0.0
2021-01-08 00:00:00-05:00,129.789849,129.985874,127.633711,129.417435,105158200,0.0,0.0